@{
    Layout = null;
}



<!DOCTYPE html>
<center>
    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Musafir</title>
        <link rel="shortcut icon" type="image/x-icon" href="logo.png" />






    </head>
    <body>
        <br /> <br /><br /><br /><br /><br /><br /><br /><br />
        <br />
        <br />
        <br />
        <br />
        <br />



        <u><center><h1>WELCOME TO MUSAFIR FLIGHTS!</h1></center></u>



        <br>
        <br>
        <br>
        <table>
            @*<tr>
                <td colspan="30">
                <div>
                                    @Html.ActionLink("Search Flight", "Index", "Flight")
                </div>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                                @Html.ActionLink("Login", "Login", "Registration")
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>



                                @Html.ActionLink("Registration", "Create", "Registration")
                </td>
                <td>



                                @Html.ActionLink("Booking Search", "SearchReference", "Booking")
                </td>
                </tr>*@




            <div class="topnav">



                @Html.ActionLink("Search Flight", "Index", "Flight")
                @Html.ActionLink("Login", "Login", "Registration")
                @Html.ActionLink("Registration", "Create", "Registration")



            </div>



        </table>






        <style>



            body {
                margin: 0;
                font-family: Arial, Helvetica, sans-serif;
            }



            .topnav {
                overflow: hidden;
                background-color: transparent;
                top: 0;
                position: fixed;
                float: left;
                color: #f2f2f2;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 17px;
            }



                .topnav a {
                    float: left;
                    color: black;
                    text-align: center;
                    padding: 14px 16px;
                    text-decoration: none;
                    font-size: 25px;
                }



                    .topnav a:hover {
                        background-color: #ddd;
                        color: black;
                    }



                    .topnav a.active {
                        background-color: #04AA6D;
                        color: white;
                    }

            body, html {
                height: 100%;
                margin: 0;
            }



            body {
                background-image: url('../../content/images/microsoftteams-image.png');
                height: 100%;
                width: 100%;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
        </style>



    </body>
</html>
</center>

